@charset "utf-8";

@font-face {
	font-family: 'SUIT';
	font-weight: 500;
    src: url(../fonts/SUIT-Medium.woff) format('woff'), 
        url(../fonts/SUIT-Medium.woff2) format('woff2'),
        url(../fonts/SUIT-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
    src: url(../fonts/SUIT-SemiBold.woff) format('woff'), 
        url(../fonts/SUIT-SemiBold.woff2) format('woff2'),
        url(../fonts/SUIT-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
    src: url(../fonts/SUIT-Bold.woff) format('woff'), 
        url(../fonts/SUIT-Bold.woff2) format('woff2'),
        url(../fonts/SUIT-Bold.ttf) format('truetype');
}

/* ---------------------- LAYOUT ------------------------- */
body {
    max-width: 1024px;
    width:100%;
    margin:0 auto;
    font-family: 'SUIT', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: auto;
    background: #fff;
    background-color: #fff;
}

.init {
    width: 100%;
    height:1366px;
    background: url(../img/init.png) no-repeat;
    background-size: cover;
}

.main_text {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 70px;
}

.main_text:first-child {
    margin-bottom: 10px;
    padding-top: 416px;
    box-sizing: border-box;
}

.main_text:nth-child(2) {
    margin-bottom: 40px;
    box-sizing: border-box;
}

.sub_text {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 130px;
}

.completed {
    width: 100%;
    height:1366px;
    background: url(../img/completed.png) no-repeat;
    background-size: cover;
}

.container {
    width:100%;
    padding:100px 80px 0 80px;
    box-sizing: border-box;
    background-color: #fff;
}

.container header {
    margin-bottom: 95px;
}

.header_text {
    width: 410px;
    height: 342px;
    margin-right: 292px;
}

.header_logo {
    width: 202px;
    height: 71px;
    position:absolute;
}

.input_text {
    height: 115px;
    border: solid 2px #AAAAAA;
    border-radius: 20px;
    padding: 0 40px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 28px;
    box-sizing: border-box;
    color:black;
    line-height: auto;
    margin-bottom: 50px;
}

input::placeholder {
    color:black
}

input:focus {
    outline-color: black;
}

.input_long {
    width: 100%;
}

.input_short {
    /* width: 40.234375vw; */
    width: 412px;
    text-transform: uppercase;
}
.input_short:first-child {
    margin-right: 40px;
}

.label_text {
    font-size: 36px;
    margin-bottom: 20px;
}

.label_text .first {
    /* width: 40.234375vw; */
    width: 412px;
    display: inline-block;
    margin-right: 40px;
}


label {
    display: inline-block;
}

.radio_content .radio_box:first-child,  .radio_box:nth-child(3){
    margin-right:40px;
}

.radio_content .radio_box:first-child,  .radio_box:nth-child(2){
    margin-bottom:20px;
}

.radio_content .radio_box:nth-child(3),  .radio_box:nth-child(4){
    margin-bottom:50px;
}

.radio_box {
    display: inline-block;
    width: 412px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    font-size: 28px;
}

input[type="radio"] + label span.round {
    display:inline-block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url(../img/radio_unchecked.png) no-repeat;cursor:pointer;
    background-size: cover;
}

input[type="radio"]:checked + label span.round {
    background: url(../img/radio_checked.png) no-repeat;
    background-size: cover;
} 
  
textarea {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 28px;
    width:864px;
    height:250px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 20px;
    line-height: auto;
    resize: none;
    overflow:auto;
    margin-bottom: 20px;
    border: solid 1px #AAAAAA;
}

.checkbox_box {
    margin-bottom: 89px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font-size: 28px;
}

input[type="checkbox"] + label span.round {
    display:inline-block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url(../img/checkbox_unchecked.png) no-repeat;cursor:pointer;
    background-size: cover;
}

input[type="checkbox"]:checked + label span.round {
    background: url(../img/checkbox_checked.png) no-repeat;
    background-size: cover;
} 

/* ---------------------- BUTTON & LINK ------------------------- */
.btn_submit {
    width: 100%;
    height: 130px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    background: #E30613;
    color: #fff;
    stroke-width: 0;
    border-radius: 20px;
}

.btn_move_register {
    position:absolute;
    width:466px;
    height:125px;
    margin:auto;
    top:977px;
    margin-left: 279px;
    background: #fff;
    border-radius: 20px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 36px;
    color: #28348A;
    /* display:fixed; */
}

.btn_move_init {
    position:absolute;
    width:500px;
    height:130px;
    margin-left: 262px;
    margin-right: 262px;
    background: #E30613;
    border-radius: 20px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}

.btn_back {
    width: 241px;
    height: 35px;
    padding-left: 311px;
    padding-right: 312px;
    margin-bottom: 135px;
    cursor:pointer;
}

.csv_link {
    font-family: 'SUIT';
    font-weight: 500;
    /* font-size: 1px; */
    position: absolute;
    top:20px;
    right:3vw;
}

.csv_link button {
    /* width:12vw; */
    padding: 6px;
    /* height: 20px; */
    background: #168;
    border-radius: 5px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}

h1 {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    top:10px;
    left:2.5vw;
}

h2 {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 1.6vw;
    position: absolute;
    top:30px;
}

.today_n {
    position: absolute;
    left:43vw;
}

.total_n {
    position: absolute;
    left:55vw;
}

table {
    border-collapse: collapse;
    border-top: 3px solid #168;
    width: 95vw;
    position: absolute;
    top:70px;
    left:2.5vw;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 18px;
} 
table th {
    color: #168;
    background: #f0f6f9;
}
table td {
    width: 7.3vw;
}
table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}
table th:first-child, table td:first-child {
    border-left: 0;
}
table th:last-child, table td:last-child {
    border-right: 0;
}
td input {
    /* height: 60px; */
    width: 7vw;
    padding-left: 5px;
    border: solid 2px #AAAAAA;
    border-radius: 5px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
    color:black;
}

td select {
    width: 5vw;
    padding-left: 10px;
    border: solid 2px #AAAAAA;
    border-radius: 5px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
    color:black;
}

tbody tr:hover td {
    background: white;
    color: black;
}

.btn_update {
    width:3.5vw;
    margin-top: 8px;
    border: solid 1px #168;
    margin-left: 1px;
    background: #fff;
    border-radius: 5px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 14px;
    color: #168;
}

/* ---------------------- TEXT ALIGN ------------------------- */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}